<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Asset Functions</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Content here -->
    <h1>Asset Functions</h1>

    <div>
        <table class="table table-hover">
            <thead>
            <tr class="tableh">
                <td>ID</td>
                <td>Name</td>
            </tr>
            </thead>
            <tr th:each="item : ${assetFunctions}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
            </tr>
        </table>
    </div>

    <div>
        <a href="/asset-functions/create">Create an asset function</a>
    </div>
</div>
</body>
</html>