<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <link rel="stylesheet" href="/css/sollcreation.css">
</head>
<body>
<div layout:fragment="content">
    <div class="matrixh">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/soll/create/en}">Entitlements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/soll/create/af}">Asset Functions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/soll/create/toxic/en}">Entitlements matrix</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Asset functions matrix</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Business roles - Asset Functions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Asset Functions - Entitlements</a>
        </li>
    </ul>
    </div>
</div>
</body>
</html>
<script>

</script>