<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Asset Functions - Business Roles</title>
</head>
<body>
<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
<div layout:fragment="content">
    <!-- Content here -->
    <h1>Asset Functions - Business Roles</h1>

    <div>
        <form action="#" th:object="${constraintForm}" th:action="@{/matrix}" method="post">

            <table>
                <thead>
                <tr>
                    <th>Asset Function</th>
                    <th>Business Role</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="c, rowStat : *{constraints}"	th:class="${rowStat.even ? 'even' : 'odd'}">
                    <td  th:text="*{constraints[__${rowStat.index}__].fromEntity.name}" ></td>
                    <td th:text="*{constraints[__${rowStat.index}__].toEntity.name}" ></td>
                    <td >
                        <input type="checkbox" name="active" th:checked="*{constraints[__${rowStat.index}__].whitelist}" />
                    </td>
                </tr>
                </tbody>

                <tfoot></tfoot>
            </table>
            <input type="submit" value="Save" />
        </form>

    </div>
</div>
<script>
function submitConstraints(){
    window.alert('ok');
}
</script>
</body>
</html>