<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Asset Functions - Business Roles</title>
</head>
<body>
<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
<div layout:fragment="content">
    <!-- Content here -->
    <h1>Asset Functions - Business Roles</h1>

    <div>
        <form  th:action="@{/matrix/save}" th:object="${constraintForm}" method="post">
            <table>
                <thead>
                <tr>
                    <th> Asset Function</th>
                    <th> Business Role</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="constraint, itemStat : *{constraints}">
                    <td><input th:field="*{constraints[__${itemStat.index}__].fromEntity.name}" /></td>
                    <td><input th:field="*{constraints[__${itemStat.index}__].toEntity.name}" /></td>
                </tr>
                </tbody>
            </table>
            <div class="col-sm-10">
                <button type="submit" name="submit" class="link-button">Submit</button>
            </div>
        </form>

    </div>
</div>
<script>
function submitConstraints(){
    window.alert('ok');
}
</script>
</body>
</html>