<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Entitlements</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col col-6">
            <h1>Entitlements</h1>
        </div>
        <div class="col col-6">
            <a class="btn btn-primary float-right" href="/entitlements/create">
                Create an entitlement
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table table-hover table-striped">
            <thead class="indigo darken-4 white-text bold">
                <tr class="tableh">
                    <td>ID</td>
                    <td>Name</td>
                    <td>Privilege</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="entitlement : ${entitlements}">
                    <td th:text="${entitlement.id}"></td>
                    <td th:text="${entitlement.name}"></td>
                    <td th:text="${entitlement.privilege.name}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>