.search {
    border: solid;
    border-color: black;
    border-width: 1px;
    height: 100px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tableh{
    background-color: #96ccff;
}
