<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lu.cerberians.sollist.mapper.AssetFunctionMapper">

    <insert id="create">
        CREATE (af:AssetFunction:Entity {
            id: #{assetFunction.id},
            name: #{assetFunction.name}
        })
        WITH af
        MATCH (asset:Asset { id: #{asset.id} })
        CREATE (asset)-[:HAS_ASSET_FUNCTION]->(af)
    </insert>

    <select id="getAll" resultMap="assetFunctionResultMap">
        MATCH (asset:Asset { id: #{asset.id} })-[:HAS_ASSET_FUNCTION]->(a:AssetFunction)
        RETURN
            a.id as id,
            a.name as name
    </select>

    <resultMap id="assetFunctionResultMap" type="lu.cerberians.sollist.entities.AssetFunction">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

</mapper>