<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lu.cerberians.sollist.mapper.AssetMapper">

    <select id="selectById" resultType="lu.cerberians.sollist.entities.Asset">
        MATCH (asset:Asset)
        WHERE (asset.id = #{id})
        RETURN asset.id as id,
        asset.name as name
    </select>

</mapper>