<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lu.cerberians.sollist.mapper.ConstraintMapper">

    <insert id="create">
        CREATE (c:Constraint)

        WITH c

        MATCH (a:Entity {id: #{constraint.a.id}}), (b:Entity {id: #{constraint.b.id}})
        CREATE (c)-[:FROM]->(a)
        CREATE (c)-[:TO]->(b)
    </insert>

</mapper>