<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title>Task List</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Content here -->
    <h1>Cerberians Riskathon</h1>

    <ul>
        <li><a href="/applications">View applications</a></li>
        <li><a href="/entitlements">View entitlements</a></li>
        <li><a href="/asset-functions">View asset functions</a></li>
        <li><a href="/constraint">Creer la SOLL</a></li>
    </ul>
</div>
</body>
</html>