<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <div id="home">
        <h1>Welcome to SOLL/IST</h1>

    <ul>
        <li><a href="/applications">View applications</a></li>
        <li><a href="/entitlements">View entitlements</a></li>
        <li><a href="/asset-functions">View asset functions</a></li>
        <li><a href="/constraint">Creer la SOLL</a></li>
    </ul>
        <p>
            This Web application allows you to create the SOLL of your application/asset.
        </p>
        <p>
            It will also show you the discrepancies between the SOLL and the IST.
        </p>
        <p>
            Based on these discrepancies you will be able to fix the SOLL and/or the IST.
        </p>
    </div>
</div>
</body>
</html>