<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<body>
<div layout:fragment="content">
    <div class="container">
        <!--<div class="search">-->
            <!--Search parameters ...-->
        <!--</div>-->
        <table class="table table-hover table-striped">
            <thead class="orange accent-4 white-text bold">
                <tr>
                    <td>Application</td>
                    <td>Asset Name</td>
                    <td>Asset Type</td>
                    <td>Asset Owner</td>
                    <td>Business roles</td>
                    <td>SOLL</td>
                    <td>IST</td>
                    <td>SOLL/IST</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="app : ${applicationList}">
                    <td th:text="${app.application}"></td>
                    <td th:text="${app.assetName}"></td>
                    <td th:text="${app.assetType}"></td>
                    <td th:text="${app.assetOwner}"></td>
                    <td th:text="${app.businessRole}"></td>
                    <td>
                        <span th:if="${app.soll}">
                            <a th:text="${app.soll}?'Update'" th:href="@{'/applications/update/soll/'+${app.sollId}}"></a>
                        </span>
                        <span th:if="${!app.soll}">
                            <a th:text="${!app.soll}?'Create'" th:href="@{'/applications/create/soll/'+${app.assetId}}"></a>
                        </span>
                    </td>
                    <td th:text="${app.ist}"></td>
                    <td th:text="${app.sollist}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>